name: Excavator
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  excavator:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Excavator
        uses: ScoopInstaller/Scoop-Action@v4
        with:
          bucket: '.'
